body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FFF8F0;
}

header {
    margin-left: 35%;
    margin-right: 35%;
    color: #C71585;
}

h1 {
    text-align: center;
    margin-bottom: -15px;
}

.poema {
    margin-left: 20%;
    margin-right: 20%;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(167, 44, 150, 0.5);
    transition: 0.5s;
}

.poema:hover {
    box-shadow: 7px 7px 15px rgba(255, 101, 234, 0.5);
    transition: 0.5s;
}

p {
    text-align: center;
    color: #4A4A4A;
}

.contenedor {
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente si es necesario */
    margin-top: 20px;
    /* Espacio superior */

}

a {
    display: flex;
    /* Para centrar el texto dentro */
    justify-content: center;
    /* Centra el texto horizontalmente */
    align-items: center;
    /* Centra el texto verticalmente */
    padding: 12px 20px;
    border: 0;
    border-radius: 10px;
    box-shadow: 2px 2px 5px black;
    background-color: #F76C6C;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 16px;
    width: 200px;
    /* Ancho fijo */
    height: 25px;
    /* Alto fijo */
    transition: all 0.5s ease;
}

a:hover {
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 4px 4px 4px black;
    background-color: #D81B60;
    color: white;
}